body {
  overflow-x: hidden;
  margin: 0%;
  font-family: arial;
  color: #ffff;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(77, 61, 91, 1) 50%,
    rgba(25, 0, 27, 1) 100%
  );
}

pre {
  font-size: 16px;
  font-weight: bolder;
}

.poesia {
  display: grid;
  background-image: url(vinicius.jpg);
  width: 80%;
  height: 90vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin: 2% auto;
  place-content: flex-start;
}

.poesia > div > h2 {
  text-align: center;
}

div {
  background-color: #151616c9;
  border-radius: 8px;
  width: 35vw;
  margin: 10px;
}
